# 2.3 Special Columns (Ascending Keys)

As perÂ [https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-tables-statistics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-tables-statistics)

_Consider updating "ascending key" columns such as transaction dates more frequently because these values won't be included in the statistics histogram._

As a demo lets show a table with a date missing and perfect stats. Also introducing the StatsOptimize SProc to automate updating of Stats

In [22]:
delete from  [dbo].[FactFinance100m_nostats] WHERE DateKey> 20130000

exec  dbo.[StatsOptimize]  @Tables='FactFinance100m_nostats'
, @StatisticsModificationLevel=null
, @StatisticsSample=100 
, @OnlyModifiedStatistics=null
, @DeleteOverlappingStats=null
, @TimeLimit=null 
, @Execute='Y'

In [28]:
/* The Stats Histogram is now mising latest date (while being perfect)*/
DBCC SHOW_STATISTICS ('FactFinance100m_nostats',_WA_Sys_00000001_76A2557D)

Name,Updated,Rows,Rows Sampled,Steps,Density,Average key length,String Index,Filter Expression,Unfiltered Rows,Persisted Sample Percent
_WA_Sys_00000001_76A2557D,Jul 7 2022 8:37PM,67403926,67403926,27,0.037037037,4,NO,NULL,67403926,0

All density,Average Length,Columns
0.037059914,4,DateKey

RANGE_HI_KEY,RANGE_ROWS,EQ_ROWS,DISTINCT_RANGE_ROWS,AVG_RANGE_ROWS
20101229,0,4318566,0,1
20110129,0,4364350,0,1
20110301,0,4357974,0,1
20110331,0,3807165,0,1
20110501,0,3409494,0,1
20110531,0,3667331,0,1
20110701,0,3336511,0,1
20110801,0,3064507,0,1
20110829,0,3118080,0,1
20110929,0,2602791,0,1
20111029,0,2495241,0,1
20111129,0,2453396,0,1
20111228,0,40837,0,1
20111229,0,2270446,0,1
20120129,0,2676081,0,1
20120229,0,3152058,0,1
20120330,0,3144568,0,1
20120430,0,2132675,0,1
20120530,0,2041068,0,1
20120630,0,1986862,0,1
20120731,0,1684231,0,1
20120828,0,1133358,0,1
20120928,0,1123563,0,1
20121028,0,1130587,0,1
20121128,0,1360288,0,1
20121227,0,51304,0,1
20121228,0,2480594,0,1

In [24]:
/* Lets query Rows in one day. Query is very fast */


select d.[FiscalYear], d.DayOfWeek, sum(Amount) as Amount, count(*) as Rows  from 
FactFinance100m_nostats f 
INNER JOIN DimDate d on d.[DateKey]=f.DateKey 
WHERE d.DateKey=20120129
GROUP BY  d.[FiscalYear], d.DayOfWeek

FiscalYear,DayOfWeek,Amount,Rows
2011,Sunday,105775666467.75511,2676081

In [25]:
/* Lets insert 10 million rows into today to simulate a load */
INSERT INTO FactFinance100m_nostats ([AccountKey], [ScenarioKey], [DepartmentGroupKey], [DateKey], [OrganizationKey], [Amount], [Date], [LineageKey])
SELECT  TOP 10000000 [AccountKey], [ScenarioKey], [DepartmentGroupKey], [DateKey], [OrganizationKey], [Amount], [Date], [LineageKey]  
FROM [dbo].[FactFinance1b]  WHERE dateKey >20130000

In [26]:
/* Lets try same query now. Current Date will have no stats in histogram */
select d.[FiscalYear], d.DayOfWeek, sum(Amount) as Amount, count(*) as Rows  from 
FactFinance100m_nostats f 
INNER JOIN DimDate d on d.[DateKey]=f.DateKey 
WHERE d.DateKey=20130829
GROUP BY  d.[FiscalYear], d.DayOfWeek

FiscalYear,DayOfWeek,Amount,Rows
2013,Thursday,41245969830.65645,1172356

In [27]:
/* Lets query an older date which has stats */
select d.[FiscalYear], d.DayOfWeek, sum(Amount) as Amount, count(*) as Rows  from 
FactFinance100m_nostats f 
INNER JOIN DimDate d on d.[DateKey]=f.DateKey 
WHERE d.DateKey=20120630
GROUP BY  d.[FiscalYear], d.DayOfWeek

FiscalYear,DayOfWeek,Amount,Rows
2011,Saturday,50437281700.268036,1986862