In [1]:
SELECT
	[qsq].[query_id], 
	COUNT([qsp].[plan_id]) AS [PlanCount],
	OBJECT_NAME([qsq].[object_id]) [ObjectName], 
	MAX([qsp].[last_execution_time]) AS [LocalLastExecutionTime],
	MAX([qst].query_sql_text) AS [Query_Text]
FROM [sys].[query_store_query] [qsq] 
JOIN [sys].[query_store_query_text] [qst]
	ON [qsq].[query_text_id] = [qst].[query_text_id]
JOIN [sys].[query_store_plan] [qsp] 
	ON [qsq].[query_id] = [qsp].[query_id]
--WHERE [qsp].[last_execution_time] > DATEADD(HOUR, -8, GETUTCDATE())
GROUP BY [qsq].[query_id], [qsq].[object_id]
HAVING COUNT([qsp].[plan_id]) > 1;
GO

query_id,PlanCount,ObjectName,LocalLastExecutionTime,Query_Text
3230,2,NULL,2022-07-06 07:47:55.2730000 +00:00,"SELECT coalesce(coalesce(ds.ExtractMethod, dr.ExtractMethod),'#') AS '#', dr.TargetTableName AS '#', ds.SchemaName AS '#', dr.TruncateTable AS '#', dr.SourceObject AS '#' FROM config.DataReaders dr INNER JOIN [config].[DataSources] ds on ds.SourceID=dr.SourceID INNER JOIN config.Configurations c on c.ConfigurationID=ds.[ConfigurationID] WHERE dr.ReaderID= CAST(-1 AS Int)"
3233,2,NULL,2022-07-06 07:49:38.9900000 +00:00,"SELECT coalesce(dr.AddTimestamp,-1) AS '#', dr.TruncateTable AS '#', ds.SchemaName + '#' + dr.TargetTableName AS '#' FROM config.DataReaders dr INNER JOIN config.DataSources ds on ds.SourceID=dr.SourceID WHERE dr.ReaderID= CAST(-1 AS SmallInt)"
3241,2,NULL,2022-07-06 07:47:56.4770000 +00:00,"SELECT dr.SourceObject AS '#', dr.TargetTableName AS '#', ds.SchemaName AS '#', dr.LineageEnabled AS '#', ds.Container AS '#', ds.Folder AS '#', dr.SubDirectory AS '#', coalesce(ds.Delimiter,'#') AS '#', c.Token AS '#', coalesce(ds.BlobStorageType,'#') AS '#', coalesce(ds.BlobFileType,'#') AS '#', c.[ConfigurationValue] AS '#', coalesce(c.CredentialIdentity,'#') AS '#', coalesce( dr.FirstRow, ds.FirstRow,-1) AS '#', coalesce( dr.RowTerminator,ds.RowTerminator, '#') AS '#', coalesce(dr.AddFileName,-1) AS '#', coalesce(dr.AddTimestamp,-1) AS '#', nullif(dr.SelectColumns,'#') AS '#', dr.DateFormat AS '#' FROM config.DataReaders dr INNER JOIN [config].[DataSources] ds on ds.SourceID=dr.SourceID INNER JOIN config.Configurations c on c.ConfigurationID=ds.[ConfigurationID] WHERE dr.ReaderID= CAST(-1 AS Int)"
3252,2,NULL,2022-07-06 07:50:08.0370000 +00:00,select -1 where exists (SELECT * FROM config.DataReaders dr INNER JOIN config.DataSources ds on ds.SourceID =dr.SourceID WHERE dr.ReaderID = CAST(-1 AS SmallInt) and (ds.ArchiveAction is not null or dr.ArchiveAction is not null))
3400,2,NULL,2022-07-06 08:10:24.6500000 +00:00,SELECT COUNT(*) AS '#' FROM audit.ExtractLog s WHERE ExecutionKey = CAST(-1 AS Int) and Status='#'
3438,2,NULL,2022-07-07 16:33:16.6600000 +00:00,SELECT [Value] AS '#' FROM config.Settings WHERE [Entity]= CAST('#' AS VarChar(50)) AND Attribute = CAST('#' AS VarChar(50))
3460,2,NULL,2022-07-06 07:47:56.2570000 +00:00,SELECT t.TableType AS '#' FROM [config].[edwTables] t WHERE SourceObject= CAST(N'#' AS NVarChar(128)) + '#' + CAST(N'#' AS NVarChar(128))
3502,2,NULL,2022-07-07 16:33:16.7670000 +00:00,"SELECT t.TableID AS '#', SchemaName AS '#', TableName AS '#', t.SourceObject AS '#', t.TableType AS '#', t.SchemaName AS '#', t.TableName AS '#', t.SourceType AS '#', t.PrimaryKey AS '#', t.BusinessKeys AS '#', coalesce(t.UpdateFlag,-1) AS '#', coalesce(t.TablePrefix, lower(left(replace(t.TableName, '#','#'),-1))) AS '#', coalesce (t.AutoDrop,-1) AS '#', coalesce(t.AutoTruncate,-1) AS '#', coalesce(t.[Identity], case when charindex('#',t.BusinessKeys) > -1 and t.TableType='#' THEN -1 ELSE -1 END ) AS '#', coalesce(t.Distribution, case when t.TableType='#' THEN '#' ELSE '#' END ) AS '#', coalesce(t.TableStructure , case when t.TableType='#' THEN '#' ELSE '#' END) AS '#', t.CTAS AS '#', coalesce(t.DedupeRows,-1) AS '#', coalesce(t.Prestage,-1) AS '#', coalesce(t.PrestageSchema,'#') AS '#', coalesce(t.PrestageTable, t.TableName) AS '#', coalesce(t.PrestageSchema,'#') + coalesce(t.PrestageTable, t.TableName) AS '#', t.DeleteDDL AS '#', t.SchemaName + '#' + t.TableName AS '#', coalesce(t.DeleteFlag, case when t.DeleteDDL is not null then -1 else -1 end ) AS '#', t.SkipSqlCondition AS '#', coalesce(t.InsertFlag,-1) AS '#', t.DeltaTargetObject AS '#', -1 AS '#', t.PostLoadSQL AS '#', t.PreLoadSQL AS '#', coalesce(t.JoinType, '#') AS '#', coalesce('#' + t.WhereSQL,null) AS '#', coalesce(t.AutoIndex, case when t.TableType='#' and t.BusinessKeys is not null then -1 end ) AS '#' FROM config.edwTables t WHERE (((t.SchemaName + '#' + t.TableName = CAST('#' AS VarChar(512)) ) OR t.TableName = CAST('#' AS VarChar(512)) ) and CAST(NULL AS Int) is null) OR t.TableID = CAST(NULL AS Int)"
3511,3,NULL,2022-07-07 16:33:22.5170000 +00:00,"WITH r as ( SELECT r.TableID as RelatedTableID , coalesce(j.JoinSQL, string_agg( '#' + ltrim(bk.value) + '#' + coalesce(r.TablePrefix, lower(left(replace(r.TableName, '#','#'),-1))) +'#' + ltrim(bk.value) ,'#')) fk , r.BusinessKeys , r.SchemaName, r.TableName,r.PrimaryKey , min(coalesce(r.TablePrefix, lower(left(replace(r.TableName, '#','#'),-1)))) TablePrefix FROM config.edwTables r INNER JOIN config.edwTableJoins j on j.RelatedTableID =r.TableID CROSS APPLY string_split (r.BusinessKeys,'#') bk WHERE j.TableID= CAST(-1 AS Int) GROUP BY r.TableID, r.BusinessKeys , r.SchemaName, r.TableName, r.PrimaryKey, j.JoinSQL ), t as ( SELECT t.TableID, coalesce(t.TablePrefix, lower(left(replace(t.TableName, '#','#') ,-1)) ) as TablePrefix FROM config.edwTables t WHERE t.TableID= CAST(-1 AS Int) ) SELECT string_agg( coalesce(j.AliasPK, r.PrimaryKey), '#') AS '#', string_agg( r.TablePrefix + '#' + r.PrimaryKey + coalesce('#' + j.AliasPK,'#') , '#') + char(13) AS '#', string_agg( r.BusinessKeys, '#') AS '#', string_agg( '#' + quotename(r.SchemaName) + '#' + quotename (r.TableName) + '#' + r.TablePrefix + '#' + r.fk ,char(13)) AS '#' FROM config.edwTableJoins j INNER JOIN r on j.RelatedTableID =r.RelatedTableID WHERE j.TableID= CAST(-1 AS Int)"
3512,3,NULL,2022-07-07 16:33:22.5800000 +00:00,select -1 where exists (SELECT * FROM config.edwTableJoins WHERE TableID= CAST(-1 AS Int) )
3515,2,NULL,2022-07-06 08:11:15.2930000 +00:00,"SELECT t.SchemaName AS '#', t.TableName AS '#', t.TableType AS '#', t.SourceObject AS '#', t.[Identity] AS '#', t.[ColumnStore] AS '#', t.[Distribution] AS '#', t.TableStructure AS '#', t.PrimaryKey AS '#', t.BusinessKeys AS '#' FROM config.edwTables t WHERE (t.SchemaName + '#' + t.TableName = CAST(NULL AS NVarChar(4000)) ) OR t.TableName = CAST(NULL AS NVarChar(4000)) OR t.TableID = CAST(-1 AS Int)"
3519,2,NULL,2022-07-06 08:11:15.7770000 +00:00,"SELECT SourceObject AS '#', BusinessKeys AS '#', [Identity] AS '#', TableType AS '#', PrimaryKey AS '#', DeDupeRows AS '#' FROM config.edwTables WHERE TableID= CAST(-1 AS Int)"
3520,2,NULL,2022-07-06 08:11:16.1370000 +00:00,"SELECT string_agg(r.BusinessKeys, '#') AS '#' FROM config.edwTableJoins j INNER JOIN config.edwTables r on j.RelatedTableID =r.TableID WHERE j.TableID= CAST(-1 AS Int)"
3525,2,NULL,2022-07-06 08:15:21.9500000 +00:00,"SELECT t.SchemaName AS '#', t.TableName AS '#', t.TableType AS '#', t.BusinessKeys AS '#', t.SchemaName + '#' + t.TableName AS '#', '#' + coalesce(replace(t.SchemaName, '#',null) + '#','#') + t.TableName + '#' AS '#' FROM config.edwTables t WHERE TableID= CAST(-1 AS Int)"
3529,2,NULL,2022-07-07 16:33:30.5170000 +00:00,"SELECT ll.[Status] AS '#', ll.ExecutionKey AS '#', CASE WHEN el.pipelineName='#' then -1 else -1 end AS '#' FROM audit.[LoadLog] ll LEFT JOIN audit.ExecutionLog el ON ll.ExecutionKey=el.ExecutionKey WHERE LoadKey = CAST(-1 AS Int)"
3540,3,NULL,2022-07-07 16:33:22.6430000 +00:00,"SELECT coalesce( CAST(N'#' AS NVarChar(4000)) + '#' ,'#') + ( select string_agg(r.BusinessKeys, '#') from config.edwTableJoins j inner join config.edwTables r on r.TableID=j.RelatedTableID where j.TableID= CAST(-1 AS Int) and (ShowBK is null or ShowBK=-1) ) AS '#'"
3552,2,NULL,2022-07-06 08:15:24.4030000 +00:00,"SELECT t.TableID AS '#', SchemaName AS '#', TableName AS '#', t.SourceObject AS '#', t.TableType AS '#', t.SchemaName AS '#', t.TableName AS '#', t.SourceType AS '#', t.PrimaryKey AS '#', t.BusinessKeys AS '#', coalesce(t.UpdateFlag,-1) AS '#', coalesce(t.TablePrefix, lower(left(replace(t.TableName, '#','#'),-1))) AS '#', coalesce (t.AutoDrop,-1) AS '#', coalesce(t.AutoTruncate,-1) AS '#', coalesce(t.[Identity], case when charindex('#',t.BusinessKeys) > -1 and t.TableType='#' THEN -1 ELSE -1 END ) AS '#', coalesce(t.Distribution, case when t.TableType='#' THEN '#' ELSE '#' END ) AS '#', coalesce(t.TableStructure , case when t.TableType='#' THEN '#' ELSE '#' END) AS '#', t.CTAS AS '#', coalesce(t.DedupeRows,-1) AS '#', coalesce(t.Prestage,-1) AS '#', coalesce(t.PrestageSchema,'#') AS '#', coalesce(t.PrestageTable, t.TableName) AS '#', coalesce(t.PrestageSchema,'#') + coalesce(t.PrestageTable, t.TableName) AS '#', t.DeleteDDL AS '#', t.SchemaName + '#' + t.TableName AS '#', coalesce(t.DeleteFlag, case when t.DeleteDDL is not null then -1 else -1 end ) AS '#', t.SkipSqlCondition AS '#', coalesce(t.InsertFlag,-1) AS '#', t.DeltaTargetObject AS '#', -1 AS '#', t.PostLoadSQL AS '#', t.PreLoadSQL AS '#', coalesce(t.JoinType, '#') AS '#', coalesce('#' + t.WhereSQL,null) AS '#', coalesce(t.AutoIndex, case when t.TableType='#' and t.BusinessKeys is not null then -1 end ) AS '#' FROM config.edwTables t WHERE (((t.SchemaName + '#' + t.TableName = CAST(NULL AS VarChar(512)) ) OR t.TableName = CAST(NULL AS VarChar(512)) ) and CAST(-1 AS Int) is null) OR t.TableID = CAST(-1 AS Int)"
3598,2,NULL,2022-07-07 16:42:04.6670000 +00:00,"SELECT [DateKey], [DepartmentGroupKey], [ScenarioKey], [OrganizationKey], [AccountKey], [Amount], [Date], [LineageKey] FROM dbo.FactFinance"
3614,2,NULL,2022-07-07 17:41:22.3470000 +00:00,"CREATE TABLE [dbo].[FactFinance1b] WITH ( DISTRIBUTION = ROUND_ROBIN ,CLUSTERED COLUMNSTORE INDEX ) AS SELECT TOP -1 [DateKey], [DepartmentGroupKey], [ScenarioKey], [OrganizationKey], [AccountKey], [Amount] * (-1 * RAND(convert(varbinary, newid()))) as Amount , [Date], [LineageKey] FROM dbo.FactFinance CROSS APPLY sys.objects s1 CROSS APPLY sys.objects s2 CROSS APPLY (SELECT TOP -1 * FROM sys.objects) s3"
3664,2,NULL,2022-07-07 20:13:44.4270000 +00:00,"SELECT Count(distinct AccountKey) as accountKeys, Count(distinct DateKey) as Dates from [dbo].[FactFinance1m]"
3684,3,NULL,2022-07-07 20:39:56.8270000 +00:00,"/* #### */ select d.[FiscalYear], d.DayOfWeek, sum(Amount) as Amount, count(*) as Rows from FactFinance100m_nostats f INNER JOIN DimDate d on d.[DateKey]=f.DateKey WHERE d.DateKey=-1 GROUP BY d.[FiscalYear], d.DayOfWeek"
3686,3,NULL,2022-07-07 20:40:14.4370000 +00:00,"/* #### */ select d.[FiscalYear], d.DayOfWeek, sum(Amount) as Amount, count(*) as Rows from FactFinance100m_nostats f INNER JOIN DimDate d on d.[DateKey]=f.DateKey WHERE d.DateKey=-1 GROUP BY d.[FiscalYear], d.DayOfWeek"